# Windows
Thumbs.db
desktop.ini

# OS X
.DS_Store
.Spotlight-V100
.Trashes
._*

.envrc
coverage.txt
vendor/
bin/
.idea/
*.iml
*.swp
*.swo
*.log
*.out
*.pid
*.vscode
*.vscode-test
*.vscode-test-*
*.vsix
*.vsix.*
*.vsixmanifest
cmd/proto

repo
target
tmp
/bin/
gen
