---
import Layout from "../layouts/Layout.astro";
import Search from "../components/Search.astro";
---

<Layout title="Hoguera's API Registry">
    <main class="grow">
        <Search />
    </main>
</Layout>

<style></style>
